.allquiz-container{
    background-color: white;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    min-height: 100vh;
    width: 100%;
    margin-top:2px;
}
.text-success{
    color: black;
}

.add-question-link {
    color: green;
    text-decoration: none;
  }
  
  .add-question-link:hover {
    color: white;
  }
  