.page-container {
    height: 100vh;  
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100vw; 
    background:linear-gradient(135deg, #5F5D9C, #6196A6, #A4CE95, #F4EDCC);;
  }
 
  
  .login-container {
    width: 400px; 
    height: auto; 
    margin: 0 auto; 
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:whitesmoke;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);

    
  }  
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 5px solid black;
    border-radius: 4px;
    background-color: whitesmoke;
    color: #090909;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.submit-btn:hover {
    background-color:  rgb(154, 226, 154); 
  }
  
  .signup-link p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #090909;
    text-decoration: none;
  }
  