.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Set background color for the admin page */
}

/* Quiz.css */

input[type="radio"]:hover {
    background-color: black; /* Change this to the desired hover color */
  }
  